body {
    background-color: #444444;
    color: white;
}

nav, footer.page-footer {
    background-color: #d7cd4c;
}

.car-content {
    padding: 2vmin;
    padding-left: 10vmin;
}

.car-contents {
    background-color: #7a7a7a;
    padding: 1vmin;
    margin-right: 50vmin;
    margin-left: 4vmin;
    margin-bottom: 3vmin;
}

.car {
    padding-bottom: 1vmin;
    padding-top: 2vmin;
}

#logo-img {
    display: inline-block;
    margin-bottom: -4.5vmin;
    margin-top: -1.2vmin;
    margin-left: 2vmin;
    padding-right: 1vmin;
} 

a {
    color: white;
}

a#car-content-a:hover {
    text-decoration: underline;
}

form, input.btn {
    margin-bottom: 2vmin;
}

input.btn {
    margin-top: 2vmin;
}

input {
    color: white;
}

#black {
    color: black;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}