body {
    background-color: #444444;
    color: white;
}

nav, footer.page-footer {
    background-color: #d7cd4c;
}

/* 
ul, li {
    list-style-type: none;
    display: inline-block;
    font-size: 2.5vmin;
}

.right {
    text-align: right;
    margin-right: -200vmin;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
   text-decoration: underline;
}

#garage, #about {
    padding: 2vmin;
}

p {
    font-size: 3vmin;
    padding: 5vmin;
}
*/
.car-content {
    padding: 2vmin;
    padding-left: 10vmin;
}

.car-contents {
    background-color: #7a7a7a;
    padding: 1vmin;
    margin-right: 50vmin;
    margin-left: 4vmin;
    margin-bottom: 3vmin;
}

.car {
    padding-bottom: 1vmin;
    padding-top: 2vmin;
}
/*
a#car-content-a {
    color: white;
}
 */
#logo-img {
    display: inline-block;
} 
/* 
.brand-logo:hover {
    text-decoration: none;
}

.right {
    text-align: right;
    margin-right: -20vmin;
}

.btn {
    border: 0.5vmin solid #444444;
    background-color: #EAE151;
    width: 20vmin;
    height: 5vmin;
    transition: 200ms;
}

.btn:hover {
    transform: scale(1.1);
    border: 0.5vmin solid #EAE151;
    background-color: #444444;
    color: #EAE151;
} */ 

a {
    color: white;
}

a:hover {
    text-decoration: underline;
}

form, input.btn {
    margin-bottom: 2vmin;
}

input.btn {
    margin-top: 2vmin;
}

input {
    color: white;
}

#black {
    color: black;
}